/* About Section */
.about {
  background-image: url('../assets/myImages/bg.png');
  padding: 60px 40px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  transform: translateY(20px);
}

.fade-in {
  animation: fadeIn 3s ease forwards;
  animation-delay: 0.2s;
}


/* Section Title */
.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  position: relative;
}

.section-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: white;
  display: block;
  margin: 10px auto 0;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.about-img-wrapper {
  position: relative;
  width: 250px;
  height: 350px;
}

.img-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #272727; */
  border: 1px solid white;
  transform: rotate(-10deg);
  border-radius: 10px;
  z-index: 0;
}

.about-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1;
}

/* About Text */
.about-text {
  max-width: 500px;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #e0e0e0;
  text-align: justify;
}