/* Contact Section */
.contact {
  padding: 60px 40px;
  background-image: url('../assets/myImages/bg.png');
  color: white;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
}

.fade-in {
  animation: fadeIn 1.5s ease forwards;
}

.small-heading {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 5px;
}

.contact-form {
  max-width: 700px;
  margin: 40px auto 0;
  /* background-color: #2b2b2b; */
  border: 1px solid white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  margin-bottom: 8px;
  font-size: 0.95rem;
}

.contact-form input,
.contact-form textarea {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid white;
  /* background-color: #da5252; */
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
  outline: none;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #aaa;
  box-shadow: 0 0 6px rgba(255,255,255,0.3);
}


.send-btn {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: white;
  color: black;
  transform: translateY(-2px);
}
