/* Projects Section */
.projects {
  /* background-color: #171717; */
  background-image: url('../assets/myImages/bg.png');
  color: white;
  padding: 60px 40px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
}

.fade-in {
  animation: fadeIn 1.5s ease forwards;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.project-card {
  display: flex;
  flex-direction: column;
  /* background-color: #2b2b2b; */
  border: 1px solid white;
  border-radius: 16px;
  overflow: hidden;
  width: 320px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-content {
  padding: 20px;
  text-align: left;
}

.project-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project-content p {
  font-size: 0.95rem;
  color: #ccc;
  margin-bottom: 20px;
}

.project-buttons {
  display: flex;
  gap: 15px;
}

.project-buttons a {
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem;
}

.btn-outline {
  border: 2px solid white;
  background: transparent;
  color: white;
  transition: 0.3s;
}

.btn-outline:hover {
  background: white;
  color: black;
}

.btn-fill {
  background: white;
  color: black;
  transition: 0.3s;
}

.btn-fill:hover {
  background: #ddd;
}
