#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171717;
  color: white;
  padding: 60px 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  /* height: 100vh; */
}

.fade-in {
  animation: fadeIn 1.5s ease forwards;
}


#skills h2 {
  font-size: 32px;
  margin-bottom: 30px;
  position: relative;
}

#skills h2::after {
  content: '';
  width: 60px;
  height: 2px;
  background: #fff;
  display: block;
  margin: 10px auto 0;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 60%;
}

.skill-card {
  background-color: white;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card img {
  width: 60%;
  height: auto;
}

/* Hover Animation */
.skill-card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

/* Entrance Animation */
.animate {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease forwards;
}

.animate:nth-child(1) { animation-delay: 0.2s; }
.animate:nth-child(2) { animation-delay: 0.4s; }
.animate:nth-child(3) { animation-delay: 0.6s; }
.animate:nth-child(4) { animation-delay: 0.8s; }
.animate:nth-child(5) { animation-delay: 1s; }
.animate:nth-child(6) { animation-delay: 1.2s; }
.animate:nth-child(7) { animation-delay: 1.4s; }
.animate:nth-child(8) { animation-delay: 1.6s; }
.animate:nth-child(9) { animation-delay: 1.8s; }


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width: 768px) {
  .skills-container {
    width: 90%;
  }
  .skills-container {
  margin: 30px 0px;
  }
}

@media (max-width: 480px) {
  .skills-container {
    width: 90%;
  }
  .skills-container {
  margin: 30px 0px;
  }
}
